.chat-main
  .chat-main__header
    .chat-main__header__box
      .chat-main__header__box__name
        = @group.name
      %ul.memederlist 
        Member：
        %li.memeder
          = current_user.name
    .chat-main__header__edti
      = link_to edit_group_path(@group) do
        Edit
  .chat-main__message
    = render @messages
  .chat-main__form
    = form_with model: [@group, @message], html: {class: "Form"}, local: true do |f|
      .chat-main__form__box
        = f.text_field :content, class: 'Form__inputContent', placeholder: 'type a message'
        = f.label :image, class: 'Form__inputImage' do
          = icon('far', 'image', class: 'Form__icon')
          = f.file_field :image, class: 'Hidden'
      = f.submit 'Send', class: 'Form__submit'